@import url("https://googleapis.com");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
.firstpage {
  position: relative;
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
}

.bgVideo {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -2;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(31, 24, 11, 0.4);
}
.navbar_container {
  position: relative;
  z-index: 3;

  width: 100%;
  padding: 20px 60px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.bar_nav {
  display: flex;
  align-items: center;
  gap: 35px;
  background: white;
  padding: 1rem 2rem;
  border-radius: 50px;
  text-align: center;
}
.bar_nav_item {
  margin: 10px 20px;
}

.bar_nav_item svg {
  color: #eda20c;
  font-size: 2.3rem;
}

.bar_img {
  position: absolute;
  left: 8rem;
}

.navbar_container button {
  position: absolute;
  top: 0;
  right: 8rem;
  width: 80px;
  height: 90px;
  border: none;
  background: #f5a800;
  color: white;
  font-size: 1.2rem;
  font-weight: 700;
  border-radius: 0 0 20px 20px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  line-height: 1.2;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.firstpage_content {
  position: absolute;
  top: 70%;
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.firstpage_content_heading {
  position: relative;
  font-size: 4.2rem;
  font-weight: 300;
  text-transform: uppercase;
  /* font-size: 7rem; */
  font-weight: 900;
  color: white;
}

.firstpage_content_secondheading {
  position: relative;
  font-size: 2.2rem;
  font-weight: 300;
  text-transform: uppercase;
  color: white;

  margin-top: 10px;
  letter-spacing: 2px;
}

.firstpage_content_secondheading::before,
.firstpage_content_secondheading::after {
  content: "";
  position: absolute;
  top: 50%;
  width: 120px;
  height: 2px;
  background: #f6b10a;
}

.firstpage_content_secondheading::before {
  right: 100%;
  margin-right: 20px;
}

.firstpage_content_secondheading::after {
  left: 100%;
  margin-left: 20px;
}

.firstpage_content_button {
  margin-top: 30px;

  padding: 18px 70px;
  border: none;
  border-radius: 50px;

  background: linear-gradient(to bottom, #ffbf1f, #e79b00);

  color: white;
  font-size: 2rem;
  font-weight: 700;

  cursor: pointer;

  box-shadow:
    0px 8px 20px rgba(0, 0, 0, 0.3),
    inset 0px 2px 5px rgba(255, 255, 255, 0.5);

  transition: 0.3s ease;
}

.firstpage_content_button:hover {
  transform: scale(1.05);
}
