@import url("https://googleapis.com");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
.firstpage {
  position: relative;
  width: 100%;
  min-height: 110vh;
  overflow: hidden;
}

.bgVideo {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -2;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(31, 24, 11, 0.4);
}
.navbar_container {
  position: relative;
  z-index: 3;

  width: 100%;
  padding: 20px 60px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.bar_nav {
  display: flex;
  align-items: center;
  gap: 35px;
  background: rgba(236, 232, 232, 0.6);
  padding: 1rem 2rem;
  border-radius: 50px;
  text-align: center;
  backdrop-filter: blur(10px);
}
.bar_nav_item {
  margin: 10px 20px;
}

.bar_nav_item svg {
  color: #eda20c;
  font-size: 2.3rem;
}

.bar_img {
  position: absolute;
  left: 8rem;
}

.navbar_container button {
  position: absolute;
  top: 0;
  right: 8rem;
  width: 80px;
  height: 90px;
  border: none;
  background: #f5a800;
  color: white;
  font-size: 1.2rem;
  font-weight: 700;
  border-radius: 0 0 20px 20px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  line-height: 1.2;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.firstpage_content {
  position: absolute;
  top: 66%;
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.firstpage_content_heading {
  position: relative;
  font-size: 4.2rem;
  font-weight: 300;
  text-transform: uppercase;
  /* font-size: 7rem; */
  font-weight: 900;
  color: white;
}

.firstpage_content_secondheading {
  position: relative;
  font-size: 2.2rem;
  font-weight: 300;
  text-transform: uppercase;
  color: white;

  margin-top: 10px;
  letter-spacing: 2px;
}

.firstpage_content_secondheading::before,
.firstpage_content_secondheading::after {
  content: "";
  position: absolute;
  top: 50%;
  width: 120px;
  height: 2px;
  background: #f6b10a;
}

.firstpage_content_secondheading::before {
  right: 100%;
  margin-right: 20px;
}

.firstpage_content_secondheading::after {
  left: 100%;
  margin-left: 20px;
}

.firstpage_content_button {
  margin-top: 20px;

  padding: 16px 60px;
  border: none;
  border-radius: 50px;

  background: linear-gradient(to bottom, #ffbf1f, #e79b00);

  color: white;
  font-size: 2rem;
  font-weight: 700;

  cursor: pointer;

  box-shadow:
    0px 8px 20px rgba(0, 0, 0, 0.3),
    inset 0px 2px 5px rgba(255, 255, 255, 0.5);

  transition: 0.3s ease;
}

.firstpage_content_button:hover {
  transform: scale(1.05);
}

.pick_park {
  width: 100%;
  background: #f3f3f3;
  padding: 40px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pick_park h2 {
  margin-top: 06px;
  font-size: 3rem;
  font-weight: 900;
  color: black;
  line-height: 0.8;
  text-transform: uppercase;
  padding: 60px 0 20px;
}

.pick_park_experience {
  margin-top: 10px;
  background: #e5a000;
  padding: 10px 20px;
  transform: skew(-15deg);
}

.pick_park_experience span {
  display: inline-block;
  transform: skew(15deg);
  color: white;
  font-size: 3.2rem;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1;
}

.secondpage {
  width: 100%;
  padding: 30px;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px;
  background: #f2f2f2;
}

.card {
  position: relative;
  height: 480px;
  border-radius: 15px;
  overflow: hidden;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: white;
  transition: 0.4s ease;
  cursor: pointer;
}

.card:hover {
  transform: translateY(-8px);
}

/* GRADIENTS */

.theme {
  background: linear-gradient(135deg, #b35406, #f0b000);
}

.water {
  background: linear-gradient(135deg, #046a9d, #b5d3ec);
}

.rightColumn {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

/* SMALL CARDS */

.smallCard {
  position: relative;
  height: 225px;
  border-radius: 25px;
  overflow: hidden;
  padding: 25px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: 0.4s ease;
  cursor: pointer;
}

.smallCard:hover {
  transform: translateY(-8px);
}

.snow {
  background: linear-gradient(135deg, #ae6aef, #4f1dce);
}

.trampoline {
  background: linear-gradient(135deg, #b5bd00, #99a300);
}

.textContainer {
  position: relative;
  z-index: 2;
}

.title {
  font-size: 2.5rem;
  font-weight: 800;
  line-height: 1;
}

.description {
  margin-top: 15px;
  font-size: 1.2rem;
  max-width: 250px;
  line-height: 1.2;
}

/* BUTTON */

.button {
  margin-top: 30px;
  width: fit-content;
  padding: 15px 35px;
  border: 2px solid rgba(255, 255, 255, 0.8);
  border-radius: 50px;
  font-size: 1.2rem;
  font-weight: 600;
  transition: 0.3s ease;
}

.button:hover {
  background: white;
  color: black;
}

/* IMAGE */

.imageWrapper {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 75%;
  height: 75%;
}

.cardImage {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.thirdpage {
  margin: 0;
  padding: 0;
  line-height: 0;
}

.thirdpage svg {
  display: block;
  width: 100%;
  margin: 0;
  padding: 0;
}

.svg_container {
  height: 60rem;
  width: 100%;

  background: #000b76;

  margin-top: -2px;
}

.waveWrapper {
  position: relative;
  top: 10px;
}

.popularimagecontainer {
  text-align: center;
  position: relative;
  top: 32rem;
  z-index: 2;
}

.popularimagecontainer {
  position: relative;

  width: 100%;
}

.popular_rides_section {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
}

.popular_heading {
  position: absolute;
  top: 50px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  gap: 20px;
}

.popular_text {
  font-size: 2.5rem;
  font-weight: 900;
  color: white;
  text-transform: uppercase;
}

.rides_text {
  background: #efbb47;
  padding: 20px 30px;
  transform: skew(-15deg);
  font-size: 2rem;
  font-weight: 900;
}

.rides_text span {
  display: inline-block;
  transform: skew(15deg);
  color: black;
  font-size: 2.5rem;
  font-weight: 900;
  text-transform: uppercase;
}

/*  */

.family_text {
  position: absolute;
  left: 300px;
  top: 130px;
  color: white;
  font-size: 2rem;
  font-weight: 500;
}

.kids_text {
  position: absolute;
  right: 350px;
  top: 130px;
  color: white;
  font-size: 2rem;
  font-weight: 500;
}

.thrill_text {
  position: absolute;
  top: 300px;
  left: 50%;
  transform: translateX(-50%);
  color: white;
  font-size: 2rem;
  font-weight: 500;
}

.toggle_wrapper {
  position: absolute;

  top: 120px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  background: #083b8e;
  border-radius: 60px;
  padding: 8px;
}

.toggle_left {
  padding: 15px 10px;
  color: white;
  font-size: 1.5rem;
  font-weight: 400;
}

.toggle_right {
  padding: 15px 10px;

  background: white;

  border-radius: 50px;

  color: #083b8e;

  font-size: 1.5rem;
  font-weight: 400;
}
