.bottomContent {
  position: absolute;
  bottom: 40px;
  left: 50%;

  transform: translateX(-50%);

  width: 80%;
  max-width: 900px;

  z-index: 5;

  text-align: center;
}

.bottomContent p {
  color: white;

  font-size: 18px;
  line-height: 1.7;

  letter-spacing: 1px;
}